.jewelry-Chokers {
	background-color: #86775f !important ;
	color: white;
	text-align: center;
	border-top: 1px solid gold !important;
}
.jewelry-card-Chokers {
	border: 1px solid gold !important;
	border-radius: 0%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
