.nav-color {
	background-color: #86775f !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown-menu {
	background-color: #86775f !important ;
	transition: all 0.5s ease-in-out;
	color: white !important;
}
.dropdown-design {
	word-wrap: normal;
	border-radius: 10px !important;
	width: 15% !important;
	background-color: #b7a684 !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	font-size: 14px !important;
	font-weight: 700 !important;
	height: 40px;
}
