.width-custom-class {
	width: 45% !important;
}
.summary-grids {
	flex-wrap: wrap;
	flex-direction: row;
	display: flex;
}
.summary-grides-width {
	width: 50%;
}
.submit-button-meaurement {
	width: 200px !important;
	margin-right: 10px;
	border-radius: 15px !important;
}
