.card-height-review {
	height: 420px !important;
	box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-header {
	/* background-color: #86775f !important; */
	text-align: center;
}
